.spawned-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  max-width: 352px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  img {
    max-width: 100%;
    height: auto;
  }
}

