.spawned-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
  }
}

